Package: com.rpgfarm.goodges2
Conflicts: com.noisyflake.goodges2
Name: Goodges 2
Depends: mobilesubstrate, firmware (>= 11.0), org.thebigboss.libcolorpicker, applist
Version: 2.1.3
Architecture: iphoneos-arm
Description: Good bye badges, hello labels !
Maintainer: Baw Appie <pp121324@gmail.com>
Author: Baw Appie <pp121324@gmail.com>
Section: Tweaks
